:root {
    --color-black: #0c0c0c;
    --color-blue-1: #3143b8;
    --color-blue-1-bg: #415af5;
    --color-blue-2: #0f21a5;
    --color-blue-2-bg: #3726a3;
    --color-blue-3-bg: #402a6e;
    --color-blue-dark-1: #06168a;
    --color-blue-dark-2: #071159;
    --color-blue-light-1: #41afff;
    --color-blue-light-1-opacity: rgba(65, 175, 255, 0.25); /* Зберігаємо прозорість */
    --color-blue-light-2: #3f6de3;
    --color-blue-light-3: #4e5fdb;
    --color-green-dark: #48a15d;
    --color-green-light: #6ee25b;
    --color-grey: #7b7d86;
    --color-orange: #c1741a;
    --color-red: #de2b2b;
    --color-red-dark: #811414;
    --color-white: #ffffff;
    --color-white-2: #f2f2f2;
    --color-yellow-bg: #cdba5b;
    --color-yellow-elements: #ffe926;

    --shadow: 2px;
    --stroke: 2px;
    --transition: 0.2s ease-in-out;
    --bottom-height: 10px;
    --scene-height: 80dvh;

    @include max_1200 {
        --shadow: 1px;
        --stroke: 1px;
    }
}
